body {
     background-color: black;
     color: brown; 
}

header {
background-color: azure;
text-align: center;
font-size: 32px;
padding: 10px;
border-bottom: solid 2px rgb(247, 44, 78);
}

.primeirovideo{
     background-color: blue;
     padding-bottom: 80px;
     padding-top: 80px;
     display: flex;
     justify-content: center;
}